{% extends 'base.html' %}

	{% block title %}
	<title>Food Mood</title>
	{% endblock %}
	
	{% block header %}
		<h1><a href="/food_mood">FOODMOOD</a></h1>
		
	{% endblock %}
	
	{% if user.is_authenticated %}
	{% block auth %}
	<nav>
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="/">Apps</a></li>
			<li role="presentation"><a href="#">About</a></li>
		<li role="presentation" class="dropdown pull-right">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
		    {{ user.username }}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/profile">Profile</a></li>
	    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Trends - Coming Soon</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/logout/">Logout</a></li>
		  </ul>
	  </li>
		</ul>
	</nav>
	{% endblock %}
	{% endif %}
	
	{% block content %}
	
	{% endblock %}