{% extends 'food_mood/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
	<h1>hello {{ user.username }}!</h1>
	<button type="button"><a href="add">Add!</a></button><br />
	<a href="entries">My food/moods!<br />
	<a href="/restricted/">Restricted Page</a><br />
	<a href="food_mood/logout/">Logout</a><br />
	{% else %}
	<h1>Welcome to Food Mood</h1>
	{% endif %}
	
	{{ passedmessage }}
	
	<p>
		<a href="/food_mood/login/">Login</a><br />
		<a href="/food_mood/signup/">Sign Up Here!</a>
	</p>

{% endblock %}